<!DOCTYPE html>
<html>
{% extends "nav_bar.html" %}

{% block head %}
    <title>Your Plan Your Way</title>
    <link rel="stylesheet" href="/static/profile.css">
    <style nonce="{{ g.nonce }}">
        .edit-input {
            display: none;
        }
        #save-button {
            display: none;
        }
    </style>
{% endblock %}
    
{% block content %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/profile.css" />
    <title>Profile</title>
</head>
<body>
    <div class="profile-setting">
        <div class="div">
            <div class="group">
                <div class="div-wrapper">
                    <div class="text-wrapper">Welcome, {{ user[0] }} {{ user[1] }}</div>
                </div>
            </div>
            <div class="overlap">
                <div class="text-wrapper-2">Full Name</div>
                <div class="overlap-2">
                    <div class="text-wrapper-12" id="full-name">{{ user[0] }} {{ user[1] }}</div>
                    <input type="text" id="edit-full-name" class="edit-input" value="{{ user[0] }} {{ user[1] }}">
                </div>
                
                <div class="text-wrapper-3">Gender</div>
                <div class="overlap-3">
                    <div class="text-wrapper-12" id="gender">{{ user[2] }}</div>
                    <input type="text" id="edit-gender" class="edit-input" value="{{ user[2] }}">
                </div>
                
                <div class="text-wrapper-4">Height</div>
                <div class="overlap-4">
                    <div class="text-wrapper-12" id="height">{{ user[3] }} cm</div>
                    <input type="number" id="edit-height" class="edit-input" value="{{ user[3] }}">
                </div>
                
                <div class="text-wrapper-5">Age</div>
                <div class="overlap-5">
                    <div class="text-wrapper-12" id="age">{{ user[4] }} years</div>
                    <input type="number" id="edit-age" class="edit-input" value="{{ user[4] }}">
                </div>
                
                <div class="text-wrapper-6">Weight</div>
                <div class="overlap-6">
                    <div class="text-wrapper-12" id="weight">{{ user[5] }} kg</div>
                    <input type="number" id="edit-weight" class="edit-input" value="{{ user[5] }}">
                </div>
                
                <div class="text-wrapper-7">Email</div>
                <div class="overlap-7">
                    <div class="text-wrapper-12" id="email">{{ user[6] }}</div>
                    <input type="email" id="edit-email" class="edit-input" value="{{ user[6] }}" disabled>
                </div>
                
                <img class="rectangle" src="/images/Rectangle.png" />
                
                <div class="group-2">
                    <div class="text-wrapper-8">{{ user[0] }} {{ user[1] }}</div>
                    <div class="text-wrapper-9">{{ user[6] }}</div>
                </div>
                
                <div class="overlap-group-wrapper">
                    <div class="overlap-group">
                        <button id="save-button">Save</button>
                        <button id="edit-button">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script nonce="{{ g.nonce }}" src="/static/common.js"></script>
    <script nonce="{{ g.nonce }}" src="/static/profile.js"></script>
</body>
{% endblock %}
</html>
