<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/sign_up.css" />
    <title>Login</title>
</head>
<body>
    <div class="logo-container">
        <img class="site-logo" src="/images/site_logo.png" alt="Site Logo" id="site-logo" />
    </div>
    <div class="login">
        <div class="div">
            <div class="overlap">
                <div class="rectangle"></div>
                <img class="img" src="/images/Rectangle 4.png" />
                <div class="rectangle-2"></div>
                <div class="unleash-the-power-of">Unleash the power<br />of Personalisation<br />Through<br />AI</div>
                <img class="login-page-logo" src="/images/login_page_logo 1.png" />
            </div>
            <div class="group">
                <div class="overlap-group-wrapper">
                    <div class="overlap-group">
                        <div class="text-wrapper" id="sign-up">Sign up!</div>
                    </div>
                </div>
                <div class="text-wrapper-2">LOGIN</div>
                <div class="text-wrapper-3">Your Journey begins</div>
                <form id="login-form">
                    <div class="div-wrapper">
                        <div class="overlap-2">
                            <input type="text" class="text-wrapper-4" id="email" name="email" placeholder="Email" />
                            <img class="frame" src="/images/frame.svg" />
                        </div>
                    </div>
                    <div class="overlap-wrapper">
                        <div class="overlap-2">
                            <input type="password" class="text-wrapper-4" id="password" name="password" placeholder="Password" />
                            <img class="frame" src="/images/frame (1).svg" />
                        </div>
                    </div>
                    <div class="group-2">
                        <button type="submit" class="overlap-3" id="login-button">
                            <div class="text-wrapper-5">Login Now</div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="login-fail-message" class="error-message" style="display: none;">
        Failed to log in! Please check your email and password.
    </div>
    <div id="success-message" class="success-message" style="display: none;">
        Successfully signed up! Login now.
    </div>
    <script src="/static/common.js"></script>
    <script src="/static/login.js"></script>
</body>
</html>
